


* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'TTRounds'; /* Name your font family */

    src: url('../font-family/TT-Rounds-Neue-Trial-Black-BF6438a171b0672.ttf') format('truetype'); /* Locate the .ttf file within your directory*/
}


header {
    overflow: hidden;
    background-color: #ffffff;

    padding: 10px;
    margin-top: 0;





    img{
        display: inline-block;
        /*margin: 0 20px;*/
        vertical-align: middle;
        /* Align the items vertically */
    }

    #outer {
        margin-top: 10px;
        /*no he encontrado otra solucion para centrarlo en vertical sin usar flexbox*/
        /*float: right;*/
    }



    /*a.choosen {
        background-color: rgba(15, 57, 244, 0.608);
        color: white;
    }*/

    li {

        text-align: center;
        font-size: larger;
    }

    /*a:hover {
        background-color: #ddd;
        color: black;
    }*/
}

.image {
    float: left;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 10px;
}

body {
    margin: 0;
    text-align: justify;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'TTRounds', sans-serif;



}




.title {
    margin-top: 10px;
    text-align: center;
    font-size: x-large;
    /*font-family: Arial, Helvetica, sans-serif;*/
}






.thumbnail {
    top: -18px;
    left: -13px;
    display: block;
    z-index: 999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

/*change the number below to scale to the appropriate size*/
.thumbnail:hover {
    transform: scale(1.3);

}


h1 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 4vw;
    text-align: center; /* Center the text horizontally */
}



.col-lg-6{
    display: flex;
    flex-direction: column;
 
}

.cursos{


    /*display: inline-block;*/
    margin: 20px ;
    
    flex:1;
    

    cursor: pointer;
    outline: none;
    color: #000000;
    background-color: #fff;
    border: none;
    border-radius: 15px;

    border: 1px solid #acacac;
    box-shadow: 0 4px #acacac;
}


.cursos:hover {background-color: #c5c5c5}
  
.cursos:active {
  background-color: #c5c5c5;
  box-shadow: 0 0px #3498db8d;
  transform: translateY(4px);
}




.cursRight{
    display: grid;
    grid-template-rows: repeat(2, auto); /* Three rows with auto height */
    grid-template-columns: 1fr; /* One column */
    gap: 10px; /* Gap between grid items */
    

    float:right;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
}

/*progres update*/
.circle-wrap {

    /*margin-bottom: 20px;
    margin-right: 20px;
    float:right;*/
    
    margin-top: 40px;
    

    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #1e51dc;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }
  
  /* color animation */
  
  /* 3rd progress bar */
  .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #227ded;
  }
  
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(110deg);
  }
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(110deg);
    }
  }

.cursLeft{
    display: grid;
    grid-template-rows: repeat(2, auto); /* Three rows with auto height */
    grid-template-columns: 1fr; /* One column */
    gap: 10px; /* Gap between grid items */
    

    float:left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.cursLogo{

    
    /*margin-top: 70px;
    margin-left: 20px;
    float: left;*/
    
    /*justify-content: center; /* Center items horizontally */
    align-items: end; /* Center items vertically */
    border-radius: 15px;
    border: 2px solid #000000;
}

/*left of course*/
h2 {
    font-size: 40px;
    
    margin-top: 3%;
    font-weight: bold;
    justify-content: start; /* Center items horizontally */
    color: #227ded;

}





.dropdownH{
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;

  }

.languagepicker {


	background-color: #FFF;
	display: inline-block;
	padding: 0;
	height: 40px;
	overflow: hidden;
	transition: all .3s ease;
	margin: 20px 100px 10px 0;
	vertical-align: top;



  
}

.languagepicker:hover {
	/* don't forget the 1px border */
    
	height: 81px;
}

.languagepicker a{
	color: #000;
	text-decoration: none;
}

.languagepicker li {
	display: block;
	background: transparent;
	font-weight: lighter;
	padding: 0px 20px;
	line-height: 40px;
	border-top: 1px solid #EEE;


}

.languagepicker li:hover{
	background-color: #EEE;
}

.languagepicker a:first-child li {
	border: none;
	background: transparent;
}

.languagepicker li img {
	margin-right: 5px;
}

.roundborders {
	border-radius: 5px;
}

.large:hover {
	/* 
	don't forget the 1px border!
	The first language is 40px heigh, 
	the others are 41px
	*/
	height: 245px;
}




.button {
    display: flex;
    width: 100%;
    justify-content: center;

    margin-top: 20px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #0b4c77;
  }
  
  .button:hover {background-color: #5cbeff}
  
  .button:active {
    background-color: #5cbeff;
    box-shadow: 0 0px #3498db8d;
    transform: translateY(4px);
  }



.break {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #acacac; 
    line-height: 0.1em;
    margin: 20px 0 20px; 
    font-weight: bold;
 } 
 
 .break span { 
     background:#fff; 
     padding:0 10px; 
     color: #acacac;
     font-weight: bold;
 }



 .buttonR {
    display: flex;
    width: 100%;
    justify-content: center;

    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000000;
    background-color: #fff;
    border: none;
    border-radius: 15px;

    border: 1px solid #acacac;
    box-shadow: 0 4px #acacac;
  }
  
  .buttonR:hover {background-color: #c5c5c5}
  
  .buttonR:active {
    background-color: #c5c5c5;
    box-shadow: 0 0px #3498db8d;
    transform: translateY(4px);
  }




  @media (max-width: 600px) {
    .element {
      margin-left: 20px; /* Adjust margin for small screens */
      margin-right: 20px; /* Adjust margin for small screens */
    }
  }
  
  /* Media query for medium screens (601px to 1024px wide) */
  @media (min-width: 601px) and (max-width: 1024px) {
    .element {
      margin-left: 50px; /* Adjust margin for medium screens */
      margin-right: 50px; /* Adjust margin for medium screens */
    }
  }
  
  /* Media query for large screens (1025px and wider) */
  @media (min-width: 1025px) {
    .element {
      margin-left: 100px; /* Adjust margin for large screens */
    }
  }





