@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');


* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'TTRounds';
  /* Name your font family */

  src: url('../font-family/TT-Rounds-Neue-Trial-Black-BF6438a171b0672.ttf') format('truetype');
  /* Locate the .ttf file within your directory*/
}

header {
  overflow: hidden;
  background-color: rgb(253, 241, 215);

  padding: 10px;

  margin-top: 0px;


  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.2s ease-in-out;
  z-index: 100;

  border-bottom: 1px solid #acacac;
  padding-bottom: 0;




  ul,
  img,
  li {
    display: inline-block;
    /*margin: 0 20px;*/
    vertical-align: middle;
    /* Align the items vertically */
  }

  #outer {
    margin-top: 10px;
    /*no he encontrado otra solucion para centrarlo en vertical sin usar flexbox*/
    /*float: right;*/
  }

  a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  /*a.choosen {
        background-color: rgba(15, 57, 244, 0.608);
        color: white;
    }*/

  li {

    text-align: center;
    font-size: larger;
  }

  /*a:hover {
        background-color: #ddd;
        color: black;
    }*/
}



.image {
  float: left;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 10px 10px;

}

main {
  margin-top: 9.5rem;
}

.textHeaderIcons {
  color: #acacac;
  font-size: small;
}

body {
  background-color: rgb(253, 241, 215);
  /*background-color: rgb(159, 131, 233);*/
  margin: 0;
  text-align: justify;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'TTRounds', sans-serif;
}

#main {
  display: flex;
  min-height: fit-content;

}

#main>article {
  flex: 5;
  border: 2px solid rgb(116, 151, 255);
  margin: 5px 7px 20px 7px;
}

#main>nav,
#main>aside {
  /*flex: 0 0 20vw;*/
  background: beige;
  border: 2px solid rgb(116, 151, 255);
  margin: 5px 7px 20px 7px;
  /*padding doesnt work out here*/

}

#main>nav {
  flex: 0 0 17vw;
}


#main>aside {
  flex: 2;
}

#main>nav {
  order: -1;
}

aside>img,
article>img {
  display: block;

  margin: auto;
}

aside>p,
article>p {
  padding: 15px;

  font-size: x-large;

}




nav>ul {
  padding: 0;
  /* Remove default padding */
  margin: 0;
  /*evitar descentro punto init lista*/
  list-style-type: none;


}

ul>img {
  border-radius: 50px;
  display: inline-block;
  margin: 0 10px;

  display: block;

  margin: auto;

}

ul>li {
  text-align: center;
}

nav>p {
  font-size: small;
  text-align: center;
}


#main>nav {

  /*to avoid merging with header style*/
  ul>li {
    font-size: medium;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
}




.title {
  margin-top: 10px;
  text-align: center;
  font-size: x-large;
  /*font-family: Arial, Helvetica, sans-serif;*/
}




footer {
  background-color: rgb(116, 151, 255);
  padding-bottom: 0px;

  display: flex;
  /* Use flexbox */
  align-items: center;
  margin: auto;

}

footer>p {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}



.thumbnail {
  top: -18px;
  left: -13px;
  display: block;
  z-index: 999;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

/*change the number below to scale to the appropriate size*/
.thumbnail:hover {
  transform: scale(1.3);

}

.enabled.thumbnail_btn {
  top: -18px;
  left: -13px;
  display: block;
  z-index: 999;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

/*change the number below to scale to the appropriate size*/
.enabled.thumbnail_btn:hover {
  transform: scale(1.1);
  -webkit-transition-duration: 0.2s;

}


h1 {

  color: #41464b;
  margin-top: 10px;
  font-weight: bold;
}


.main_calendar {
  width: 100%;
  display: flex;
  background: rgb(253, 241, 215);
  padding: 2%;
  justify-content: center;
}

.calendar-container {
  background: rgb(249, 247, 238);
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.calendar-header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

.calendar-navigation {
  display: flex;
}

.calendar-navigation span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

.calendar-navigation span:hover {
  background: #f2f2f2;
}

.calendar-current-date {
  color: #41464b;
  font-weight: 500;
  font-size: 1.45rem;
}

.calendar-body {
  padding: 20px;
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #414141;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li.selected {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
  background: #edb022;
}

.calendar-dates li.active.selected::before {
  border: 4px solid #edb022;
}

.calendar-dates li:not(.active):hover::before {
  background: #e4e1e1;
}

.calendar-dates li.selected::before {
  background: #227ded;
}

.calendar-dates li:not(.selected):hover::before {
  background: #e4e1e1;
}

.calendar {
  background-color:rgb(253, 241, 215); ;
  margin-left: 30px;
  
}

.btn_place {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  width: fit-content;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #acacac;
  background-color: #dadada;
  border: none;
  border-radius: 15px;
  border: 1px solid #acacac;
  box-shadow: 0 4px #acacac;

  &.enabled {
    color: #41464b;
    background-color: #227ded;
    border: none;
    border-radius: 15px;
    border: 1px solid #41464b;
    box-shadow: 0 3px #4b4a4a;

    h2 {
      font-size: 25px;
      font-weight: bold;
      justify-content: start;
      /* Center items horizontally */
      color: rgb(249, 247, 238);
    }
  }

  &.enabled:hover {
    background-color: #0455b8;
  }

  &.enabled:active {
    background-color: #227ded;
    box-shadow: 0 0px #3498db8d;
    transform: translateY(4px);
  }

  h2 {
    font-size: 25px;
    font-weight: bold;
    justify-content: start;
    /* Center items horizontally */
    color: rgb(249, 247, 238);
  }
}

ol,
ul {
  padding-left: 0px;
}
.top{
  display: flex;
  justify-content: center;
}

.filter{
  display: flex;
  justify-content: center;
}

.filter_btn {
  width: fit-content;
  padding: 10px 25px;
  font-size: 20px;
  margin: 0 10px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #acacac;
  background-color: #dadada;
  border: none;
  border-radius: 15px;
  border: 1px solid #acacac;
  box-shadow: 0 4px #acacac;

  &.enabled {
    color: #41464b;
    background-color: #227ded;
    border: none;
    border-radius: 15px;
    border: 1px solid #41464b;
    box-shadow: 0 3px #4b4a4a;

    h2 {
      font-size: 20px;
      font-weight: bold;
      justify-content: start;
      /* Center items horizontally */
      color: rgb(249, 247, 238);
    }
  }

  &:not(.enabled):hover {
    background-color: #0455b8;
  }


  &:not(.enabled):active {
    background-color: #227ded;
    box-shadow: 0 0px #3498db8d;
    transform: translateY(4px);
  }

  h2 {
    font-size: 90%;
    font-weight: bold;
    justify-content: start;
    /* Center items horizontally */
    color: rgb(249, 247, 238);
  }
}

.buttonT {
  width: 300px;
  margin: 10px;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #41464b;
  background-color: rgb(249, 247, 238);
  border: none;
  border-radius: 15px;

  border: 1px solid #41464b;
  box-shadow: 0 3px #4b4a4a;
  h2{
      font-size: 20px;
      font-weight: bold;
      justify-content: start;
      /* Center items horizontally */
      color: #227ded;
      pointer-events: none;
  }
}

.buttonT:hover {
  background-color: #c5c5c5;
}

.buttonT.selected {
  background-color: #c5c5c5;
}
.buttonT:active {
  background-color: #c5c5c5;
  box-shadow: 0 0px #3498db8d;
  transform: translateY(4px);
}

.niv_per_dates{
  margin: 0 10% 2% 10%;

}



h3{
  font-size: 15px;
  font-weight: bold;
  justify-content: start;
  /* Center items horizontally */
  color: #41464b;
  pointer-events: none;
}
.row{
  padding-top:10px
}

