<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MiReTo - Repàs per Data</title>
  <link rel="icon" href="./images/wesicpfp-cropped.png" type="image/png">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>
  <link rel="stylesheet" href="./css/styleRepasoCalendar.css" />

  <script src=" https://unpkg.com/vue@3/dist/vue.global.js "></script>
  <script src="./js/appRepasoCalendar.js" defer></script>
</head>

<body id="calendar" style="overflow-x: hidden;">

  <header class="row align-items-center justify-content-md-center" style="margin-top: 0px;">
    <div class="col-auto">
      <img @click="openPage('./pinicio.html')" class="image d-none d-lg-block" src="images/wesicpfp.png" alt="Wesic logo" height="70">
    </div>
    <div class="col">
      <ul id="outer"
        class="list-unstyled d-flex flex-wrap justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-end">
        <li class="col-auto">
          <a href="#" @click="openPage('./pinicio.html')" title="Pàgina d'Inici">
            <img class="thumbnail mx-md-5 mx-sm-4 mx-3" src="images/icons8-home-page-100.png" alt="Pàgina d'Inici"
              height="50">
            <div class="textHeaderIcons d-none d-md-block">PÀGINA INICI</div>
          </a>
        </li>
        <li class="col-auto">
          <a href="#" @click="openPage('./underconstruction.html')" title="Nous Cursos">
            <img class="thumbnail mx-md-5 mx-sm-4 mx-3" src="images/icons8-plus-100.png" alt="Nous Cursos" height="50">
            <div class="textHeaderIcons d-none d-md-block">NOU CURS</div>
          </a>
        </li>
        <li class="col-auto">
          <a href="#" @click="openPage('./underconstruction.html')" title="Apartat Social">
            <img class="thumbnail mx-md-5 mx-sm-4 mx-3" src="images/icons8-team-100.png" alt="Apartat Social"
              height="50">
            <div class="textHeaderIcons d-none d-md-block">ÀREA SOCIAL</div>
          </a>
        </li>
        <li class="col-auto">
          <a href="#" @click="openPage('./underconstruction.html')" title="Perfil Personal">
            <img class="thumbnail mx-md-5 mx-sm-4 mx-3" src="images/icons8-account-100.png" alt="Perfil Personal"
              height="50">
            <div class="textHeaderIcons d-none d-md-block">ÀREA PERSONAL</div>
          </a>
        </li>
      </ul>
    </div>

  </header>

  <main>

    <div class="title">
      <h1>REPÀS</h1>
    </div>

    <div class="top">
      <div class="filter">
        <div id="btn_niv" class="filter_btn" @click="selectFilterNiv">
          <h2>Des d'un nivell</h2>
        </div>
        <div id="btn_data" class="filter_btn" @click="selectFilterData">
          <h2>Des d'una data</h2>
        </div>
      </div>
      <div @click="openPage('./repaso.html')" class="calendar">
        <img class="thumbnail" src="images/calendarCrossed.png" alt="Cerca per data" height="40">
      </div>
    </div>
    <div class="main_calendar">
      <div class="calendar-container">
        <div class="calendar-header">
          <p class="calendar-current-date"></p>
          <div class="calendar-navigation">
            <span id="calendar-prev" class="material-symbols-rounded">
              < </span>
                <span id="calendar-next" class="material-symbols-rounded">
                  >
                </span>
          </div>
        </div>

        <div class="calendar-body">
          <ul class="calendar-weekdays">
            <li>Dl</li>
            <li>Dt</li>
            <li>Dc</li>
            <li>Dj</li>
            <li>Dv</li>
            <li>Ds</li>
            <li>Dg</li>
          </ul>
          <ul class="calendar-dates"></ul>
        </div>
      </div>
      <div class="btn_place_data">
        <div id="btn_final_data" class="button thumbnail_btn">
          <h2>COMENÇA EL REPÀS</h2>
        </div>
      </div>
    </div>
    <div class="niv_per_dates">
      <div class="container-fluid">
        <div class="row" v-for="(group, index) in groupedItemsArray" :key="index">
          <!-- Mostrar la fecha arriba de los elementos para esa fecha -->
          <h3>{{group[0].data}}</h3>
          <div class="col-auto" v-for="item in group" :key="item.niv">
                <div :id="item.niv" class="buttonT thumbnail_btn" v-on:click="selectButton">
                    <h2>{{item.niv}}</h2>
                    <h2>{{item.tema}}</h2>
                </div>
            </div>
        </div>
      </div>
      <div class="btn_place_niv">
        <div id="btn_final_niv" class="button thumbnail_btn">
          <h2>COMENÇA EL REPÀS</h2>
        </div>
      </div>
    </div>
    </main>
    
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
</body>

</html>